# Introduction To Python for Machine Learning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.CSV', encoding = 'latin-1')

df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [6]:
df['Item'].unique()

array(['Population', 'Grand Total', 'Vegetal Products', 'Animal Products',
       'Cereals - Excluding Beer', 'Wheat and products',
       'Rice and products', 'Barley and products', 'Maize and products',
       'Rye and products', 'Oats', 'Millet and products',
       'Sorghum and products', 'Cereals, Other', 'Starchy Roots',
       'Cassava and products', 'Potatoes and products', 'Sweet potatoes',
       'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet',
       'Sugar & Sweeteners', 'Sugar (Raw Equivalent)',
       'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas',
       'Pulses, Other and products', 'Treenuts', 'Nuts and products',
       'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)',
       'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed',
       'Coconuts - Incl Copra', 'Sesame seed',
       'Olives (including preserved)', 'Oilcrops, Other',
       'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil',
       'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil',
       'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil',
       'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables',
       'Tomatoes and products', 'Onions', 'Vegetables, Other',
       'Fruits - Excluding Wine', 'Oranges, Mandarines',
       'Lemons, Limes and products', 'Grapefruit and products',
       'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products',
       'Pineapples and products', 'Dates',
       'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants',
       'Coffee and products', 'Cocoa Beans and products',
       'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves',
       'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer',
       'Beverages, Fermented', 'Beverages, Alcoholic',
       'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat',
       'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals',
       'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream',
       'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs',
       'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish',
       'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other',
       'Crustaceans', 'Cephalopods', 'Molluscs, Other',
       'Aquatic Products, Other', 'Aquatic Animals, Others',
       'Aquatic Plants', 'Miscellaneous', 'Infant food',
       'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil'],
      dtype=object)

### Question 1
Given the following numpy array

                array =([[94, *89, *63],
                        [93, *92, *48],
                        [92, 94, 56]])
How would you select the elements in bold and italics from the array?

Options

1. array[ : 2, 0 : ]
2. array[ : 2, 1 : ] 
3. array[ 1 : , : ]
4. array[ : 1, 1 : ]
5. array[ : 1, 1 :]

#### Solution

In [3]:
array = np.array([[94, 89, 63]
         ,[93, 92, 48]
         ,[92, 94, 56]])

array[:2, 1:]
#option 2 is correct

array([[89, 63],
       [92, 48]])


### Question 2

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

Options

1. 2134.34 and 3517.22
2. 20675.72 and 26968.27
3. 1584.08 and 1387.21
4. 4251.81 and 4039.32

#### Solution

In [8]:
item = df.groupby('Item')['Y2015', 'Y2018'].sum()
item.loc[['Wine']]
#option 4 is correct

C:\Users\USER\AppData\Local\Temp\ipykernel_3824\1457354536.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  item = df.groupby('Item')['Y2015', 'Y2018'].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

### Question 3

What is the total Protein supply quantity in Madagascar in 2015?

Options
1. 357.12
2. 180.29
3. 173.05
4. 174.91

#### Solution

In [5]:
md = df[df['Area'] == 'Madagascar']
md

md.groupby('Element')['Y2015'].sum()
#option 3 is correct

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

### Question 4

Which year had the least correlation with ‘Element Code’?

Options
1. 2017
2. 2016
3. 2015
4. 2014

#### Solution

In [6]:
df.corr()
#option 2 is correct

C:\Users\USER\AppData\Local\Temp\ipykernel_11716\1531312648.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

### Question 5
Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

Options
1. x = y[1][-1]
2. x = y[2][-1]
3. x = y[1][-2] 
4. x = y[1][1]

#### Solution

In [7]:
y = [(2, 4), (7, 8), (1, 5, 9)]

print(y[1][-1])
#option 1 is correct 
print(y[1][1])
#option 4 is correct

8
8

### Question 6

Which of these python data structures is unorderly?

Options
1. Set
2. Dictionary
3. Tuple
4. List

#### Solution

Option 1 (Set) is unordered and unindexed

### Question 7
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

Options
1. 292836.00
2. 3231287.75
3. 3947019.23
4. 287134.67
5. 232118.43

#### Solution

In [8]:
element = df.groupby('Element')['Y2017'].sum()
print(element)

element.loc['Processing']
#option 1 is correct

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

292836.0

### Question 8

What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

Options
1. 28
2. 'l'
3. 'i'
4. 'e'

#### Solution

In [9]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1] 
#option 4 is correct

'e'

### Question 9

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

Options
1. South Africa
2. Ethiopia
3. Egypt
4. Nigeria
5. Kenya

#### Solution

In [10]:
df.groupby('Area')['Y2017'].sum().sort_values(ascending = False)
#option 4 is correct

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

### Question 10

What is the total number of unique countries in the dataset?

Options
1. 50
2. 45
3. 39
4. 49

#### Solution

In [11]:
df['Area'].unique().shape
#option 4 is correct

(49,)

### Question 11

What is the total number and percentage of missing data in 2014 to 3 decimal places?

Options
1. 1538 and 2.522%
2. 1506 and 2.477%
3. 1473 and 2.152 %
4. 1598 and 2.617%
5. 1589 and 2.607%

#### Solution

In [12]:
col = (df.shape)[0] #total number of columns

missing = df['Y2014'].isnull().sum()

print(missing)
print(round((missing/col)*100, 3))
#option 5 is correct

1589
2.607

### Question 12

Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

Options
1. Standard Error
2. Type Error
3. Value Error
4. Math Error

#### Solution

In [13]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6
#option 2 is correct

TypeError: 'tuple' object does not support item assignment

### Question 13
If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

|  |Age|Nationality| Overall|
|---|---|---|---|
| 1 | 35 | Portugal | 94 |
| 2 | 33 | Argentina | 93 |
| 3 | 30 | Brazil | 92 |

Options
1. pd.Dateframe(lst, column = [‘Age’,’Nationality’,’Overall’], index = [1,2,3])
2. None of the above
3. pd.Dataframe(lst, columns = col, index = [1,2,3])
4. pd.datframe(lst, column = [‘Age’,’Nationality’,’Overall’],index = [1,2,3])
5. pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

#### Solution

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col, index = [i for i in range(1, 4)])
#option 5 is correct

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Question 14

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

Options
1. 2017
2. 2014
3. 2015
4. 2016

#### Solution

In [ ]:
df.groupby('Element')[df.iloc[:, -5:-1].columns].sum()
#option 2 is correctb

,Y2014,Y2015,Y2016,Y2017
Element,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10
Export Quantity,150020.64,157614.47,151920.46,182338.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
Feed,216927.89,225050.22,228958.65,223705.68
Food,1212332.49,1232361.10,1247022.17,1258888.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
Import Quantity,274144.48,267018.46,286582.78,294559.09
Losses,153223.00,155439.00,157787.00,160614.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97
Processing,282923.00,287929.00,280631.00,292836.00
Production,1931287.75,1947019.39,1943537.15,2030056.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
Residuals,30149.00,30045.00,37224.00,35500.00
Seed,21922.92,23976.82,23389.20,24870.14
Stock Variation,58749.83,34910.99,33140.12,54316.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
Tourist consumption,416.00,349.00,89.00,91.00

### Question 15

How would you check for the number of rows and columns in a pandas DataFrame named df?

Options
1. df.shape( )
2. pd.length(df)
3. len(df)
4. df.shape

#### Solution

In [ ]:
df.shape
#option 4 is correct

(60943, 12)

### Question 16
A pandas Dataframe with dimensions (100,3) has how many features and observations?

Options
1. 100 rows and 3 observations.
2. A pandas dataframe has no attribute feature or observation.
3. 3 features, 100 observations
4. 100 features, 3 observations.

#### Solution

Option 3 is correct
A data frame is a table with rows and columns. The rows of a data frame are observations and the columns are the features

### Question 17
Which of the following dataframe methods can be used to access elements across rows and columns?

Options
1. df.iloc( )
2. c and d
3. df.loc( )
4. df.loc( : )
5. df.iloc[ : ] 

#### Solution

Option 5 is correct

### Question 18
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

Options
1. Comoros
2. Cabo Verde
3. Guinea-Bissau
4. Ghana
5. Seychelles

#### Solution

In [ ]:
area = df.groupby('Area')['Y2017'].sum().sort_values()[:7]
area
#option 3 is correct

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

### Question 19
Which of the following is a python inbuilt module?

Options
1. Pandas
2. Matplotlib
3. Math
4. Seaborn

#### Solution

Option 3 is correct

### Question 20
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

Options
1. 10.60 and 8.49
2. 140.92 and 1671.86
3. 8.54 and 9876.77
4. 135.23 and 1603.40
5. 10.60 and 17.01

#### Solution

In [ ]:
print(round(df['Y2017'].mean(),2))
print(round(df['Y2017'].std(),2))
#option 2 is correct

140.92
1671.86